extend layout
block content
  .row-fluid
    .span12.well
      h1 Settings
  .row-fluid
    .span1
    .span11
      h2 Services
  .row-fluid
    .span1
    .span8
      form.form-vertical(method='POST')
        label.checkbox
          input(type='checkbox', name='services-rdio', checked=(settings.services && settings.services.rdio))
          | Rdio
        label.checkbox
          input(type='checkbox', name='services-spotify', checked=(settings.services && settings.services.spotify))
          | Spotify
        if (settings.services && settings.services.spotify && settings.services.spotify.territory)
          label.checkbox
            input(type='checkbox', name='limit-territory', checked=true)
            | Limit Spotify to #{settings.services.spotify.territory}         
        button(type='submit').btn.btn-primary Save        
        
      