extend layout
block content
  .hero-unit 
    h1 Welcome to Backbeat
    p a (simple) music resolver service
  .row 
    .span10
      h2 Examples
  .row
    .span10
      a(href="/Arcade%20Fire") Arcade Fire 
      a(href="/Arcade%20Fire/Neon%20Bible") Neon Bible 
      a(href="/Arcade%20Fire/Neon%20Bible/Intervention") Intervention 
  .row
    .span10
      a(href="/Talking%20Heads/") Talking Heads 
      a(href="/Talking%20Heads/The%20Name%20of%20this%20Band%20is%20Talking%20Heads") The Name of this Band is Talking Heads 
      a(href="/Talking%20Heads/The%20Name%20of%20this%20Band%20is%20Talking%20Heads/Psycho%20Killer") Psycho Killer